# Node modules
node_modules/

# Build output
build/
dist/

# Test coverage
coverage/

# Dependency lock files
pnpm-lock.yaml
yarn.lock
package-lock.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Editor directories and files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Environment files
.env
.env.*

# ESLint cache
.eslintcache

# Ignore test output
